<h2>{{titulo}}</h2>
<div *ngIf="parametro">
	<p>Parámetro de la URL: {{parametro}}</p>
</div>
<div *ngIf="!parametro">
	<button (click)="redirigir('civa.com.pe')" type="button" class="btn btn-primary">Ir a la página con parámetro</button>&nbsp;&nbsp;
	<button (click)="redirigirHome()" type="button" class="btn btn-primary">Ir al home</button>
</div>