<h1>Componente de coches</h1>
<form #formCoche="ngForm" (ngSubmit)="onSubmit(); formCoche.reset();">
	<p>
		<label>Nombre:</label>
		<input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="coche.nombre" required>
		<span *ngIf="nombre.touched && !nombre.valid">El nombre del coche es incorrecto</span>
	</p>
	<p>
		<label>Caballaje:</label>
		<input type="text" name="caballaje" #caballaje="ngModel" [(ngModel)]="coche.caballaje" required pattern="[0-9]+">
		<span *ngIf="caballaje.touched && !caballaje.valid">El caballaje del coche es incorrecto</span>
	</p>
	<p>
		<label>Color:</label>
		<input type="text" name="color" #color="ngModel" [(ngModel)]="coche.color" required pattern="[a-zA-Z#]+">
		<span *ngIf="color.touched && !color.valid">El color del coche es incorrecto</span>
	</p>
	<p>
		<input type="submit" value="Añadir coche a la lista" [disabled]="!formCoche.form.valid">
	</p>
</form>
<hr>
<h3>Listado de prendas de ropa</h3>
<ul>
	<li *ngFor="let coche of listado_coches; let i = index">
		{{coche.nombre}} {{coche.caballaje}} {{coche.color}}
		<a [ngStyle]="{'color': 'red', 'font-weight': 'bold', 'cursor': 'pointer'}" (click)="eliminarCoche(i)">Eliminar</a>
	</li>
</ul>