<h3>{{titulo}}</h3>

<div *ngIf="trabajadorExterno == false">
	<button (click)="cambiarExterno(true)">Mostrar trabajadores</button>
	<br>
	<strong>Empleado estrella</strong>
	<ul>
		<li>{{empleado.nombre}} tiene {{empleado.edad}} - {{empleado.cargo}} {{empleado.contratado}}</li>
	</ul>
</div>
<div *ngIf="trabajadorExterno == true">
	<button (click)="cambiarExterno(false)">Mostrar empleado</button>
	<br>
	<strong>Trabajadores</strong>
	<ul>
		<li *ngFor="let trabajador of trabajadores; let i = index">{{i+1}} {{trabajador.nombre}} tiene {{trabajador.edad}} años - {{trabajador.cargo}} <span *ngIf="trabajador.contratado == true">contratado</span><span *ngIf="trabajador.contratado == false">NO contratado</span></li>
	</ul>
</div>
<hr>
<h3>Colores Switch</h3>
<ul [ngSwitch]="color">
	<li *ngSwitchCase="'red'" [ngStyle]="{'background': color, 'color': 'white', 'padding': '20px'}">Es de color {{color}}</li>
	<li *ngSwitchCase="'green'" [ngStyle]="{'background': color, 'color': 'white', 'padding': '20px'}">Es de color {{color}}</li>
	<li *ngSwitchCase="'blue'" [ngStyle]="{'background': color, 'color': 'white', 'padding': '20px'}">Es de color {{color}}</li>
	<li *ngSwitchDefault>No tiene color</li>
</ul>
<hr>
<h3>Selector de colores</h3>
<input type="text" [(ngModel)]="color_seleccionado" name="">
<br>
<pre [style.border]="color_seleccionado == 'red' ? '5px solid black' : '1px solid green'" [ngClass]="{fondoAzul: color_seleccionado == 'blue', fondoVerde: color_seleccionado == 'green', fondoRojo: color_seleccionado == 'red'}">{{color_seleccionado}}</pre>
<br>
<div [ngStyle]="{'background': color_seleccionado, 'width': '200px', 'height': '200px'}"></div>