<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    Welcome to {{ title }}!
  </h1>
  <hr>
  <nav>
  	<a [routerLink]="['/home']" [routerLinkActive]="['activado']">Home</a>&nbsp;-&nbsp;
  	<a [routerLink]="['/fruta']" [routerLinkActive]="['activado']">Fruta</a>&nbsp;-&nbsp;
    <a [routerLink]="['/empleado']" [routerLinkActive]="['activado']">Empleado</a>&nbsp;-&nbsp;
  	<a [routerLink]="['/coches']" [routerLinkActive]="['activado']">Coches</a>&nbsp;-&nbsp;
  	<a [routerLink]="['/contacto']" [routerLinkActive]="['activado']">Contacto</a>
  </nav>
  <hr>
  <!-- <app-fruta></app-fruta> -->
  <!-- <hr> -->
  <!-- <app-empleado></app-empleado> -->
  <router-outlet></router-outlet>
</div>