<h2>{{titulo}}</h2>
<small><strong>Fecha:</strong> {{fecha|date:'fullDate'|uppercase}}</small><br>
<small><strong>Fecha:</strong> {{fecha|date:'dd/MM/yyyy'}}</small><br>
<small><strong>Número:</strong> {{5|conversor:7}}</small>
<h3>Listado de prendas de ropa</h3>
<input type="text" [(ngModel)]="prenda_a_guardar">
<button type="button" (click)="guardarPrenda()">Añadir prenda</button>
<ul>
	<li *ngFor="let prenda of listado_ropa; let i = index">
		{{prenda}}
		<a [ngStyle]="{'color': 'red', 'font-weight': 'bold', 'cursor': 'pointer'}" (click)="eliminarPrenda(i)">Eliminar</a>
	</li>
</ul>